body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

h1 {
  color: red;
  
}

nav a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgray;
}

figcaption{
  font-size: 12px;
}

#featured-property p{
  color: blue;
  width: 800px;
  margin: auto;
  margin-bottom: 16px;
  text-align: center;
}

#details{
  display: block;
}

#details div{
  float: left;
  background-color: lightgray;
  width: 25%;
  text-align: center;
}